html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #333333;
}

main {
    width: 80%;
}

aside {
    width: 20%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 50.6667px;
    width: 100%;
    background-color: #333333;
}

.header-wrapper ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.header-wrapper li {
    float: left;
}
  
.header-wrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
.header-wrapper li a:hover {
    background-color: #111111;
}

.header-wrapper ul li:last-child {
    float: right;
}

.header-wrapper button {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 17.3333px;
    text-decoration: none;
    background-color: #333333;
    border: 0;
}

.header-wrapper button:hover {
    background-color: #111111;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 55.6667px;
    height: 100%;
    width: 100%;
    background-color: green;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 55.6667px;
    float: right;
    height: 100%;
    width: 100%;
    background-color: lightgreen;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    height: 34.6667px;
    width: 100%;
    background-color: lightskyblue;
}

.footer-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.footer-wrapper li {
    float: left;
  }
  
.footer-wrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
.footer-wrapper li a:hover {
    background-color: #111111;
  }